/* SCSS RGB */
$blue-1: rgba(77, 168, 224, 1);
$blue-2: rgba(33, 101, 164, 1);
$orange-nl: rgba(225, 105, 0, 1);
$yellow-stone: rgba(255, 236, 31, 1);
$green-solid: rgba(12, 124, 89, 1);


@media (min-width: 280px) {
  .container {
    max-width: 768px;
  }

  .input-container {
    .logo {
      font-size: 3rem;
    }
  }

  .destination {
    img {
      border-radius: 15px;
    }
  }
  .holder_entry {
    padding: 10px;
    border: transparent;
    border-radius: 5px;
    margin:10px;
  }

  #weathercard {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    font-size: 7vw;
    font-family: sans-serif;
  }

  #cityRes,
  #days,
  #tripLength,
  #currentWeather,
  #weatherForecast {
    place-self: center;
    font-size: 7vw;
    font-family: sans-serif;
    padding: 5px;
    margin: 50px;
  }

}

@media (min-width: 320px) {
  .container {
    max-width: 768px;
  }

  .input-container {
    .logo {
      font-size: 3rem;
    }
  }

    .destination {
      img {
        border-radius: 15px;
      }
    }
  .holder_entry {
    padding: 10px;
    border: transparent;
    border-radius: 5px;
    margin:10px;
  }

  #weathercard {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    font-size: 7vw;
    font-family: sans-serif;
  }

  #cityRes,
  #days,
  #tripLength,
  #currentWeather,
  #weatherForecast {
    place-self: center;
    font-size: 7vw;
    font-family: sans-serif;
    padding: 5px;
    margin: 50px;
  }

  }

@media (min-width: 450px) {
  .container {
    max-width: 768px;
  }

  .input-container {
    .logo {
      font-size: 3rem;
    }
  }

  .destination {
    img {
      border-radius: 15px;
    }
  }
  .holder_entry {
    padding: 10px;
    border: transparent;
    border-radius: 5px;
    margin:10px;
  }
  #weathercard {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    font-size: 7vw;
    font-family: sans-serif;
  }

  #cityRes,
  #days,
  #tripLength,
  #currentWeather,
  #weatherForecast {
    place-self: center;
    font-size: 7vw;
    font-family: sans-serif;
    padding: 5px;
    margin: 50px;
  }
}

@media (min-width: 769px) {
  .container {
    max-width: 1024px;
  }

  .input-container {
    align-items: center;
    .logo {
      font-size: 4rem;
    }

    .form {
      flex-direction: row;
      input,
      .submit {
        min-width: 250px;
      }
    }
  }
  .holder_entry {
    padding: 10px;
    border: transparent;
    border-radius: 5px;
    margin:10px;
  }
  #weathercard {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    font-size: 7vw;
    font-family: sans-serif;
  }

  #cityRes,
  #days,
  #tripLength,
  #currentWeather,
  #weatherForecast {
    place-self: center;
    font-size: 7vw;
    font-family: sans-serif;
    padding: 5px;
    margin: 50px;
  }
}

@media (min-width: 1025px) {
  body {
    max-width: 100%;
  }
  .container {
    max-width: 100%;
  }

  .form {
    max-width: 1200px;
  }

  .weather {
    h3 {
      font-size: 2rem;
    }
  }
  .holder_entry {
    padding: 10px;
    border: 3px solid $blue-2;
    border-radius: 5px;
    margin:200px;
  }

  .responsive {
    place-self: center;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 20px 20px 20px #bebebe;
    margin: 10px;
  }
  #weathercard {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    font-size: 2vw;
    font-family: sans-serif;
  }

  #cityRes,
  #days,
  #tripLength,
  #currentWeather,
  #weatherForecast {
    place-self: center;
    font-size: 2vw;
    font-family: sans-serif;
    padding: 5px;
    margin: 5px;
  }
}
